<h1>Listado de mascotas</h1>
<ul>
	<% @pets.each do |pet| %>
		<% if (pet.status > 0) %>
			<li>
				<h2><%= pet.nickname %></h2>
				<%= image_tag pet.image , style: "width:200px" %>
				<small><%= pet.race.name %></small>
				<p><%= pet.description %></p>
				<!-- <a href="/pets/show">Ver detalle</a> -->
				<%= link_to "Ver Detalle", pet_path(pet) %>
			</li>
		<% end %>
	<% end %>
</ul>
